@keyframes changeColor{
    0% {color:blue;}
    25%{color:green;}
    50%{color:red;}
    75%{color:gold;}
    100%{color:blue;}
}
h1{
    background-color:white;
    text-align:center;
    animation: changeColor 6s infinite;
}
.cardCustom{
    width:50%;
    display:block;
    margin:auto;
    margin-top:20px;
}
.customBtn{
    margin-top:10px;
}
#appearingImg{
    width:50%;
    display:block;
    margin:auto;
    margin-top: 100px;
    border: 2px solid white;
}
#errorPageBody{
    background-color: black;
    color:white;
}
.error{
    font-size: 100px;
    text-align: center;
    color: white;
    margin:auto;

}
